.DS_Store
.vscode
cache
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
.vscode
node_modules
TODOs.md
*.pyc

# Home Assistant test environment runtime data
.ha/config/*
!.ha/config/configuration.yaml
